.inner {
    width: 1200px;
    margin: 0 auto;
}

.default {
    padding: 80px 0;
}

.header {
    padding: 0 40px;
}

.header h1 img {
    height: 80px;
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.header .inner .gnb>ul {
    display: flex;
    font-size: 20px;
    font-weight: 800;
    gap: 120px;
}

.gnb>ul>li .sub {

    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 999;
    height: 0;

    background: #fff;

    transform: translate(-50%, 0);
    width: 160px;
    overflow: hidden;

    transition: height 0.2s;


}

.gnb:hover>ul>li .sub {
    height: 200px;

    transition: heigt 0.5s;
}

.gnb>ul>li {
    position: relative;
}

.gnb>ul>li .sub li a {
    display: block;
    line-height: 40px;
    text-align: center;
    background: #fff;
    font-size: 16px;
    font-weight: 400;

}

.gnb::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 999;

    height: 0;

    background: #fff;
    transition: height 0.2s;

}

.gnb:hover::before {
    height: 200px;
}

.gnb>ul>li {
    position: relative;
}

.main-visual {}

.main-visual .main-visual-slide .itm01 {
    background: url(../images/main01.jpg) no-repeat center top/cover;
    height: 600px;
}

.main-visual .main-visual-slide .itm02 {
    background: url(../images/main02.jpg) no-repeat center top/cover;
    height: 600px;
}

.main-visual .main-visual-slide .itm03 {
    background: url(../images/main03.jpg) no-repeat center top/cover;
    height: 600px;
}

.main-visual .main-visual-slide .itm .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1200px;
    width: 100%;

    transform: translate(-50%, 0);
    text-align: center;

}

.main-visual .main-visual-slide .itm .desc strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 40px;
    font-weight: 800;
}

.main-visual .main-visual-slide .itm .desc p {
    font-size: 24px;
    font-weight: 400;
}

.main-visual .main-visual-slide .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.main-visual .main-visual-slide .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    background-color: transparent;
    border: none;


}

.main-visual .main-visual-slide .arrows i {
    font-size: 32px;
    padding: 32px;
    background: rgba(94, 88, 112, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    color: #fff;
}

.main-visual .main-visual-slide .arrows .prev {
    left: 0;
}

.main-visual .main-visual-slide .arrows .next {
    right: 0;
}




.main-content {
    text-align: center;
}

.main-content .tit {
    margin: 0 0 32px 0;
}

.main-content .tit h2 {
    font-size: 36px;
    font-weight: 800;
    margin: 0 0 16px 0;
}

.main-content .tit p {
    font-size: 16px;
    font-weight: 400;
}

.main-content .inner {
    display: flex;
    gap: 30px;
    padding: 16px;

}

.main-content .inner>* {
    flex: 1;
}

.main-content .inner img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.main-content .inner .itm {
    position: relative;
}

.main-content .inner .itm .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 8px 16px;

}

.main-content .inner>.itm {
    position: relative;
}

.main-content .inner .desc strong {
    color: #fff;
}

.main-content .inner .desc p {
    color: #fff;
}

.second-visual {
    padding: 40px 0;

}

.second-visual .inner {
    width: 1440px;
    height: 600px;


}

.second-visual .recruit {
    background: #ddd url(../images/middle.png) no-repeat center top;
    height: 500px;

}

.main-banner {
    background: url(../images/bon05.jpg) no-repeat center/cover;
    width: 100%;

}

.main-banner {
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    display: block;
}

.main-banner .tit h2 {
    font-size: 36px;
    font-weight: 800;
    margin: 16px;
}


.main-banner .tit p {
    font-size: 24px;
    font-weight: 400;
}

.main-banner button {
    border: none;
    position: absolute;
    top: 50%;
    right: 250px;
    width: 120px;
    height: 120px;
    background: rgba(153, 146, 173, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    color: #fff;

    transform: translate(0, -50%);


}

.main-banner i {
    vertical-align: middle;
    font-size: 32px;
    padding: 32px;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    color: #fff;
}


.line {}

.line .tit {
    display: block;
    text-align: center;
    margin: 0 0 32px;
}

.line .tit h2 {
    font-size: 36px;
    font-weight: 800;
    margin: 0 0 16px 0;
}

.line .tit p {
    font-size: 16px;
    font-weight: 400;
}

.line .inner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.line .inner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 32px;
    transition: 0.5s;
    margin: 16px;
}

.line .inner img:hover {
    border-radius: 50%;
}

.line .inner .img p {
    display: block;
    text-align: center;
    font-size: 16px;
}

.gs {
    display: block;
    text-align: center;
    background: #ddd;
}

.gs strong {
    display: block;
    font-size: 32px;
    margin: 0 0 60px 0;
}

.gs>.inner figure {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.gs>.inner figure strong {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 26px;
}

.gs>.inner figure img {
    margin: 0 0 16px;
}

.gs>.inner figure .img_box {

    margin: o auto 16px auto;
}

.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;

    border: none;
    background: transparent;
}

.to_top i {
    padding: 16px;
    background: black;
    color: #fff;
    font-size: 32px;
    border-radius: 50%;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
    background: #949496;
    z-index: 999;
    padding: 32px;
    margin: 0 auto 24px auto;
    text-align: center;
}

.popup strong {
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin: 0 auto 24px auto;
    border-width: 2px;
    color: #fff;

}

.popup strong::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #fff;

    margin: 12px auto;
}

.popup p {
    color: #fff;
    line-height: 24px;
}

.popup .btn {
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;

    transform: translate(-50%, -50%);
    font-size: 24px;
    border: 2px solid #fff;
    background: #949496;
}

.footer {
    background: #333;
}

.footer .customer {

    display: flex;
    height: 120px;
    gap: 40px;
    align-items: center;

    border-bottom: 1px solid #666;
}


.footer .customer a {
    color: #fff;
}


.footer .customer .b {
    font-weight: 800;
}

.footer .customer li {
    position: relative;
}

.footer .customer li~li::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;

    transform: translate(-50%, -50%);


    width: 2px;
    height: 10px;
    background: #fff;

}

.footer address {
    padding: 32px 0;
    color: #fff;
}